@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

button,
a,
select,
input,
[role="button"] {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}
